[core]
  editor = vim
  autocrlf = input
[merge]
  tool = meld
  defaultToUpstream = true
[color]
  ui = auto
[credential]
  helper = cache --timeout=7200
[http]
  # Increase the maximum HTTP upload size to 50MB (52428800 Bytes)
  postBuffer = 52428800
[push]
  default = simple
[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  stt = status -uno
  ru = remote update
  sm = submodule
  df = diff --name-status
  lg = log --color --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lc = log --color --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --not --remotes=*
  l = log --pretty=format:'%C(yellow)%h%C(white) %an <%ae> %>|(80)%ai%Creset%n%C(bold)%w(0,4,4)%s%C(reset)%n%+b'
  ll = log --stat
  lp = log -p
	reset-permission = !git diff -p -R --no-color | grep -E \"^(diff|(old|new) mode)\" --color=never | git apply
[user]
  email = jaywhang@stanford.edu
  name = Jay Whang
# Load work-specific configurations
[include]
  path = ~/.at_google.git
