[core]
  editor = vim
  autocrlf = input
[merge]
  tool = meld
  defaultToUpstream = true
[color]
  ui = auto
[credential]
  helper = cache --timeout=7200
[http]
  # Increase the maximum HTTP upload size to 50MB (52428800 Bytes)
  postBuffer = 52428800
[push]
  default = simple
[alias]
  co = checkout
  br = branch
  ci = commit
  st = status
  ru = remote update
  sm = submodule
  lg = log --color --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  lc = log --color --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --not --remotes=*
  df = diff --name-status
[user]
  email = me@jaywhang.com
  name = Jay Whang
# Load work-specific configurations
[include]
  path = ~/.at_google.git
