!------------------------------------------------
! DPI settings
!------------------------------------------------
Xft.dpi:            180
Xft.autohint:       0
Xft.lcdfilter:      lcddefault
Xft.hintstyle:      hintfull
Xft.hinting:        1
Xft.antialias:      1
Xft.rgba:           bgr

!------------------------------------------------
! rxvt-unicode settings
!------------------------------------------------
URxvt.termName: rxvt
! Does not work with bspwm (also not needed)
! URxvt.borderLess: true
URxvt.scrollBar: false
URxvt.depth: 32
URxvt.geometry: 80x28
URxvt.font: xft:Monaco:size=10, \
            xft:NanumGothicCoding
! Transparency
URxvt.background:  rgba:0000/0000/0000/eeee
URxvt.foreground: #B0B0B0
! scrollback buffer lines - 65535 is max (64 is default)
URxvt.saveLines: 50000
! Url matcher
URxvt.perl-ext-common: default,matcher
URxvt.urlLauncher: google-chrome-stable
URxvt.matcher.button: 2
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@!-]*[\\w/-]

!------------------------------------------------
! Rofi (launcher, window switcher, etc.) settings
!------------------------------------------------
rofi.font: Dejavu Sans Mono 14
! Place the popup in the center of the screen
rofi.location: 0
! Always show 10 lines
rofi.lines: 10
rofi.fixed-num-lines: true
! Because transprency is cool
rofi.opacity: 85
! No border, and 10px of inner padding
rofi.padding: 10
rofi.bw: 0
! Default terminal to launch for ssh
rofi.terminal: urxvt
! Modes to display
rofi.modi: run,window
! Other misc settings
rofi.ssh-set-title: true
rofi.disable-history: true
rofi.hide-scrollbar: true
! Colors
rofi.color-enabled: true
rofi.color-window: #5d5d5d, #002b36, #000000
rofi.color-normal: #5d5d5d, #ffffff, #696969, #3b3b3b, #ffffff
rofi.color-active: #4885f5, #ffffff, #85a9e2, #0034ff, #ffffff
rofi.color-urgent: #e36464, #ffffff, #bb4747, #ff0000, #ffffff

!------------------------------------------------
! xterm settings
!------------------------------------------------
xterm*termName: xterm
xterm*font: xft:terminus-font:size=14
xterm*background: !000000
xterm*foreground: !A8A8A8

!------------------------------------------------
! Terminal colors
!------------------------------------------------
! Solarized Darcula theme
! (from https://github.com/mbadolato/iTerm2-Color-Schemes)
!
#define Ansi_0_Color #25292a
#define Ansi_1_Color #f24840
#define Ansi_10_Color #629655
#define Ansi_11_Color #b68800
#define Ansi_12_Color #2075c7
#define Ansi_13_Color #797fd4
#define Ansi_14_Color #15968d
#define Ansi_15_Color #d2d8d9
#define Ansi_2_Color #629655
#define Ansi_3_Color #b68800
#define Ansi_4_Color #2075c7
#define Ansi_5_Color #797fd4
#define Ansi_6_Color #15968d
#define Ansi_7_Color #d2d8d9
#define Ansi_8_Color #25292a
#define Ansi_9_Color #f24840
#define Background_Color #3d3f41
#define Bold_Color #ececec
#define Cursor_Color #708284
#define Cursor_Text_Color #002831
#define Foreground_Color #d2d8d9
#define Selected_Text_Color #d2d8d9
#define Selection_Color #214283

URxvt*color0:       Ansi_0_Color
URxvt*color1:       Ansi_1_Color
URxvt*color2:       Ansi_2_Color
URxvt*color3:       Ansi_3_Color
URxvt*color4:       Ansi_4_Color
URxvt*color5:       Ansi_5_Color
URxvt*color6:       Ansi_6_Color
URxvt*color7:       Ansi_7_Color
URxvt*color8:       Ansi_8_Color
URxvt*color9:       Ansi_9_Color
URxvt*color10:      Ansi_10_Color
URxvt*color11:      Ansi_11_Color
URxvt*color12:      Ansi_12_Color
URxvt*color13:      Ansi_13_Color
URxvt*color14:      Ansi_14_Color
URxvt*color15:      Ansi_15_Color
URxvt*colorBD:      Bold_Color
URxvt*colorIT:      Italic_Color
URxvt*colorUL:      Underline_Color
URxvt*foreground:   Foreground_Color
URxvt*background:   Background_Color
URxvt*cursorColor:  Cursor_Color
