!! urxvt config
URxvt.termName: rxvt
URxvt.scrollBar: false
URxvt.borderLess: true
Urxvt*transparent: true
URxvt.depth: 32
URxvt.geometry:         80x28
URxvt*font: xft:terminus-font:size=14

! Transparency
URxvt.background:  rgba:0000/0000/0000/dddd
URxvt.foreground: #B0B0B0

! xterm config
xterm*termName: xterm
!xterm*font: xft:terminus-font:size=14
xterm*font: xft:terminus-font:size=14
xterm*background: !000000
xterm*foreground: !A8A8A8

! scrollback buffer lines - 65535 is max (64 is default)
URxvt.saveLines:1200

! Url matcher
URxvt.perl-ext-common: default,matcher
URxvt.urlLauncher: chromium
URxvt.matcher.button: 2
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@!-]*[\\w/-]

!Xcursor.theme:    whiteglass
!Xcursor.size:     16

! *color0:  #2E3436
! *color1:  #a40000
! *color2:  #4E9A06
! *color3:  #C4A000
! *color4:  #3465A4
! *color5:  #75507B
! *color6:  #ce5c00
! *color7:  #babdb9
! *color8:  #555753
! *color9:  #EF2929
! *color10: #8AE234
! *color11: #FCE94F
! *color12: #729FCF
! *color13: #AD7FA8
! *color14: #fcaf3e
! *color15: #EEEEEC


# Paradiso theme (https://github.com/chriskempson/base16)
URxvt*background:                     #2f1e2e
URxvt*foreground:                     #a39e9b
URxvt*cursorColor:                    #a39e9b
URxvt*scrollColor:                    #a39e9b
URxvt*highlightColor:                 #4f424c
URxvt*highlightTextColor:             #8d8687

URxvt*color0:                         #2f1e2e
URxvt*color1:                         #ef6155
URxvt*color2:                         #48b685
URxvt*color3:                         #fec418
URxvt*color4:                         #06b6ef
URxvt*color5:                         #815ba4
URxvt*color6:                         #5bc4bf
URxvt*color7:                         #a39e9b
URxvt*color8:                         #776e71
URxvt*color9:                         #ef6155
URxvt*color10:                        #48b685
URxvt*color11:                        #fec418
URxvt*color12:                        #06b6ef
URxvt*color13:                        #815ba4
URxvt*color14:                        #5bc4bf
URxvt*color15:                        #e7e9db

! 256 color space
URxvt*color16:                        #f99b15
URxvt*color17:                        #e96ba8
URxvt*color18:                        #41323f
URxvt*color19:                        #4f424c
URxvt*color20:                        #8d8687
URxvt*color21:                        #b9b6b0

